/* Reset  ...................................... */
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

body,
html,
footer,
h1,
h2,
h3,
h4,
p,
fieldset,
form,
label,
legend,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* Links */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  vertical-align: middle;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* body................................. */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #424242;
}

/* Utility ..............................*/
.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* Grid container .......................*/
.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-story {
  max-width: 1537px;
}

/* Header .............................. */
.header {
  padding: 17px 0px;
  background: #ffffff;
  border-bottom: 1px solid #d6d6d6;
}

.header__iner {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 172px;
}

.menu-list {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 70px;
}

.menu .menu-link {
  font-weight: 500;
  line-height: 120%;
  color: #292929;
  transition: color 0.2s ease;
  white-space: nowrap;
}

.menu .menu-link:hover {
  color: #01996d;
}

.login {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.login a + a {
  margin-left: 35px;
}

.login a {
  color: #000;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.login a:hover {
  color: #01996d;
}

.btn {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #ffffff !important;

  display: inline-block;
  padding: 20px 50px;
  background: #01996d;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.btn:hover {
  opacity: 0.8;
}

.btn-smal {
  padding: 13px 50px;
}

/* Section Baner ...................... */
.baner {
  position: relative;
  min-height: 895px;
  padding: 175px 0px;
}

.baner__content {
  max-width: 440px;
}

.baner__content > *:not(:last-child) {
  margin-bottom: 30px;
}

.baner__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 113%;
  color: #01996d;
}

.baner__text p {
  line-height: 155%;
  color: #484848;
}

.baner__content .baner__text {
  max-width: 420px;
  margin-bottom: 53px;
}

.baner__img {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.baner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* section Works ......................... */
.works {
  padding: 169px 0px 51px;
}

.works__top {
  margin-bottom: 52px;
}

.works__top-iner {
  display: flex;
  justify-content: space-between;
}

.title {
  max-width: 584px;
}

.title-top {
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
}
.works__top-title {
  margin-right: 30px;
}

.works__top-title .title-top {
  margin-bottom: -2px;
}

.title-bottom {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996d;
}

.works__top-content {
  max-width: 671px;
  padding-top: 58px;
}

.works__top-content P {
  font-weight: 500;
  line-height: 150%;
  width: 100%;
}

.works__bottom-iner {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 390px);
  column-gap: 50px;
}

/* .item {
  flex: 0 1 390px;
  max-width: 390px;
} */

.item:nth-child(2) {
  padding-top: 287px;
}

.item:nth-child(3) {
  padding-top: 54px;
}

.item__title {
  position: relative;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 55px;
  padding-top: 135px;
  padding-left: 88px;
  white-space: nowrap;
}

.item__title.title-two {
  padding-left: 79px;
}

.item__title.title-three {
  padding-left: 124px;
}

.item__title ::before {
  content: attr(data-canter);
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  color: rgba(1, 153, 109, 0.2);
}

.item__text {
  font-weight: 500;
  margin-bottom: 50px;
}

.item__img {
  width: 100%;
  height: 492px;
}

.item__img img {
  width: 100%;
  height: 100%;
}

/* Secton Story ...................... */
.story {
  background: #245852;
  padding: 229px 0px 177px;
}

.story__iner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story__iner-content {
  color: #ffffff;
  max-width: 580px;
  margin-right: 20px;
}

.story__iner-content > *:not(:last-child) {
  margin-bottom: 33px;
}

.story__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
}

.story__text p {
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  margin-bottom: 57px;
}

.story__iner-video {
  position: relative;
  width: 895px;
}

.story-video__wrapper {
  position: relative;
  padding-top: 57.7%;
}

.rentagle-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 22;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.story__iner-video:hover .rentagle-black {
  opacity: 0;
}

.story-video {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.story-btn {
  width: 82px;
  height: 82px;
  z-index: 23;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* section Product .................... */
.product {
  padding-top: 120px;
  padding-bottom: 168px;
}

.product__iner {
  display: flex;
  justify-content: space-between;
}

.product__iner-left {
  position: relative;
  padding-left: 61px;
  padding-bottom: 74px;
  margin-right: 40px;
}

.product__img {
  border-radius: 18px;
}

.product__card {
  position: absolute;
  bottom: 0;
  left: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 296px;
  padding: 22px 20px 30px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
  border-radius: 4px;
}

.card__title {
  font-weight: 600;
  display: inline-block;
  font-size: 14.49px;
  line-height: 157%;
  color: #000000;
  padding-bottom: 7px;
  border-bottom: 1px solid #000;
}

.card-avatar {
  margin-top: 14px;
  margin-bottom: 20px;
}

.avatar-img {
  width: 57px;
  height: 57px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 157%;
  color: #000000;
  margin-top: 10px;
}

.card__content {
  text-align: left;
  color: #000000;
}

.card__content-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 157%;
  margin-bottom: 16px;
}

.card__list-item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 157%;
  list-style-type: disc;
  list-style-position: inside;
  /* padding-left: 6px */
}

.card__list-item:not(:last-child) {
  margin-bottom: 16px;
}

.product__text {
  padding: 20px 0px 40px;
  max-width: 530px;
}

.product__text p {
  line-height: 155%;
}

/* Footer .......................... */
.footer {
  background: #245852;
  padding: 104px 0px 144px;
  color: #ffffff;
}

.footer__logo + * {
  margin-top: 74px;
}

.footer__nav-list li + li {
  margin-top: 60px;
}

.footer__nav-link {
  font-weight: 600;
  font-size: 25px;
  line-height: 120%;
  transition: all 0.3s ease;
}

.footer__nav-link:hover {
  opacity: 0.7;
}
@media (max-width: 1310px) {
  .title-bottom {
    font-size: 40px;
    line-height: 140%;
  }
  .story {
    padding: 130px 0px 145px;
  }
  .story__title {
    font-size: 33px;

  }
}

/* Meedia @ ......................... */
@media (max-width: 1199px) {
  .menu {
    margin-left: 85px;
  }
  .menu-item:not(:last-child) {
    margin-right: 35px;
  }
  .login a + a {
    margin-left: 25px;
  }
  .works__top-iner {
    flex-direction: column;
  }
  .works {
    padding: 110px 0px 51px;
  }

  .story__text p {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 0px;
  }
  .story__iner-content > *:not(:last-child) {
    margin-bottom: 25px;
  }

}

@media (max-width: 991px) {
  .baner__img img {
    opacity: 0.65;
  }
  .baner {
    min-height: 625px;
  }
  body {
    font-size: 18px;
  }
  .works {
    padding: 100px 0px 51px;
  }
  .item:nth-child(2) {
    padding-top: 26px;
  }

  .item:nth-child(3) {
    padding-top: 5px;
  }
  .works__top {
    margin-bottom: 15px;
  }
  .story {
    padding: 70px 0px 85px;
  }
}

@media (max-width: 767px) {
  .baner {
    min-height: 425px;
    padding: 75px 0px;
  }
  .baner__title {
    font-size: 50px;
    line-height: 100%;
  }
  .btn {
    font-size: 16px;
    padding: 18px 30px;
  }
  .title-bottom {
    font-size: 30px;
    max-width: 399px;
  }
  .works {
    padding: 80px 0px 51px;
  }
  .works__top {
    margin-bottom: 25px;
  }
  .baner__content .baner__text {
    max-width: 399px;
    margin-bottom: 30px;
  }
}

@media (max-width: 385px) {
  .works__bottom-iner {
    grid-template-columns: 1fr;
    column-gap: 0px;
  }
  .title-two h4 {
    font-size: 20px;
  }
  .item__img {
    width: 100%;
    height: 380px;
  }
}
